<div class="container">
    <header>
        <h4>Please choose payment method!</h4>
        <h4>Thank <%= user.name.first %> <%= user.name.last %> for choosing our food!</h4>
        <a href="/"><button class="btn btn-primary">Back</button></a>
    </header>
    <main class="row">
        <section class="col-sm-4 d-flex flex-column align-items-begin">
            <img src="images/method.jpg" alt="">
        </section>
        <section class="col-sm-4 d-flex flex-column align-items-center">
        <ul>
            <% user.temporder.forEach(orderId => { %>
                <li><%= orderId %></li>
                <% if (orderDetails && orderDetails.items) { %>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% orderDetails.items.forEach(item => { %>
                                <tr>
                                    <td><%= item.course.name %></td>
                                    <td>$<%= item.course.price %></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                    <p>Total Price: $<%= orderDetails.totalPrice %></p>
                <% } else { %>
                    <p>No items found for this order.</p>
                <% } %>
            <% }); %>
        </ul>
        </section>
        <section class="col-sm-4 d-flex flex-column align-items-end">
            <p><a href="/" class="btn btn-primary">Mobile Pay</a></p>
            <p><a href="/pay/creditcard/<%= user._id %>" class="btn btn-success">Credits Card</a></p>
            <p><a href="/" class="btn btn-outline-secondary">Pay at the Cashier</a></p>
            <p><a href="/" class="btn btn-outline-secondary">Cancel</a></p>
        </section>
    </main>
</div>
